.color-swatch--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.color-swatch {
  width: 25px;
  height: 25px;
  color: white;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  font-size: 24px;
}
