.palette {
  padding: .5em 10px 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.palette-title {
  position: absolute;
  font-size: 1.25em;
  text-transform: uppercase;

  top: -1em;
  left: 1em;
  padding: .25em;
  background-color: white;
}

.palette-body { flex: 1; }

.palette-footer {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}