.color-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.color-selector--cell {
  margin: 5px;
  color: white;
  border-radius: 2px/50%;
  cursor: pointer;
  width: 15px;
  height: 15px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
