.modal {
	position: fixed; /* Stay in place */
	z-index: 100000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%!important; /* Full width */
	height: 100%!important; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
}

.modal-content {
	margin: auto;
	padding: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
	border: none;
	width: 80%;
	max-width: 700px;
	background: rgba(0,0,0,0);
}
