.card {
  padding: .5em 10px 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__title {
  position: absolute;
  text-transform: uppercase;

  top: -1em;
  left: 1em;
  padding: .25em;
  background-color: white;
}

.card__body { flex: 1; }

.card__footer {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}