.card {
  padding: .5em 10px 5px;
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: var(--color-bg-secondary);
}

.card__title {
  position: absolute;
  text-transform: uppercase;

  top: -1rem;
  left: 1rem;
  padding: .25em;

  border-top: 4px solid var(--color-primary);
  background-color: var(--color-bg-secondary);
}

.card__body { flex: 1; }

.card__footer {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}