:root {
  --color-primary: #485460;

  --color-bg-primary: #dfdbe5;
  --color-bg-secondary: #ffffff;
}

* {
  color: var(--color-primary);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, purple, tomato, salmon, yellow, lightgreen, green);
}

button,
a.retro-btn.as-btn {
  cursor: pointer;
  outline: none;
  padding: .1em 2em!important;
}

.primary {
  background-color: #70A1FF!important;
  color: #FFFFFF;
}

hr {
  width: 90%;
  border-top: 1px solid var(--color-primary);
}

dialog {
  margin-top: 20vh;
  z-index: 110;
}

dialog::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 109;
  background-color: rgba(0, 0, 0, .5);
}


/* reference: https://nostalgic-css.github.io/NES.css/ */
.retro,
.retro-btn {
  position: relative;
  border-color: var(--color-primary);
  margin: 6px;
  border-style: solid;
  border-width: 4px;
  background-color: var(--color-bg-secondary);

  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(72, 84, 96)" /></svg>');
  border-image-outset: 2;
}

.retro-btn::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  box-shadow: inset -6px -6px rgba(0, 0, 0, .12);
}

.retro-btn.selected::after,
.retro-btn:active::after {
  background-color: #00000017;
  box-shadow: inset 6px 6px rgba(0, 0, 0, .2);
}

.text-muted {
  color: #48546090;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  min-height: 100vh;
}

.container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
