header {
  width: 100%;
  height: 35vh;
  padding: 1em;

  background-color: var(--color-bg-primary);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  transition-duration: .2s;
  z-index: 100;

  display: grid;
  grid-template-rows: 3em minmax(calc(20vh - 1.5em - 1em), 1fr);
}

header .download-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header #image-download-modal .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header #image-download-modal .content .modal-close-button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -20px;
  right: -20px;
  color: #ffffff;
  cursor: pointer;
  background-color: red;
  text-align: center;
  vertical-align: center;

  font-size: 1.5em;
  font-weight: 700;
}
