header {
  width: 100%;
  height: 35vh;
  padding: 25px;
  
  background-color: var(--color-bg-primary);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  transition-duration: .2s;

  z-index: 100;
}

