.preview-image {
  box-sizing: border-box;
  height: 80px;
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.preview-image svg {
  width: 40px;
  height: 40px;
}

.preview-image.selected svg {
  margin-top: 3px
}
